.profileContainer {
  display: flex;
}

.profileInfo {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 100px auto 0;

  background-color: #f4f4f4;
  border-radius: 8px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.userDetails {
  flex-grow: 1;
  padding: 20px;
}

.detailRow {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.labelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.labelSpan {
  font-weight: 500;
  color: #838383;
}

.listoButton,
.editarButton {
  width: 100px;
  padding: 10px 20px;
  margin-top: 9px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.listoButton {
  background-color: #4caf50;
  color: white;
}

.listoButton:hover {
  background-color: #45a049;
}

.editarButton {
  background-color: #008cba;
  color: white;
}

.editarButton:hover {
  background-color: #007b9e;
}

.labelSpan {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}

.level {
  display: block;
  margin-top: 30px;
  text-align: center;
}
.errors {
  color: red;
}
.levelSubtitle {
  text-align: center;
  font-style: italic;
  color: #666;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.userLevel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.levelBox {
  width: 50px;
  height: 50px;
  background-color: #28a745;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
