.container {
  font-size: 1.1rem;
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px 20px 20px;
  line-height: 1.6;
}
.header {
  font-size: 1.1rem;
  margin-top: 90px;
  text-align: center;
}
.sectionTitle {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  color: #333;
  margin: 1rem auto;
  text-align: center;
}
.titelP {
  margin-top: clamp(3rem, 5vh, 7rem);

  background: linear-gradient(
    to bottom,
    #14919b 0%,
    #ffffffc0 40%,
    #ffffffc0 60%,
    #14919b 100%
  );
}
.descriptionText {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1rem;
}
.sectionSubTitle {
  font-size: clamp(1.4rem, 4vw, 1.5rem);
  color: #333;
  margin: 1rem auto;
}
.videoContainer {
  display: flex;
  justify-content: center; /**/
  margin: 1.5rem 0;
}
.videoEmbed {
  max-width: 100%;
  border-radius: 10px;
}
.tipsList {
  padding-left: 2rem;
  margin-bottom: 1rem;
  color: #555;
}
.link {
  cursor: pointer;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 1px 8px;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgba(199, 86, 86, 0.477);
  transition: all 0.3s ease;
}
.link:hover {
  box-shadow: 0px 0px 15px rgba(78, 113, 87, 0.998);
}
.startButton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.gray {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
}
.startButton div button {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startButton div button:hover {
  background-color: #014996;
}
