.all {
  font-size: 1.1rem;
  padding: 2rem;

  background: radial-gradient(#9be9fb 30%, #f5f5f5 30%);
  background-size: 3px 3px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 10px;

  margin: 0 auto;
  padding-top: 90px;
}

.img {
  width: clamp(100px, 100%, 340px);
  height: 300px;
  cursor: pointer;
  margin: auto;
}

.menuItem {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;
  overflow: hidden;
  width: calc(50% - 5px);
  height: clamp(300px, 400px, 600px);
  justify-content: center;
  align-items: center;
}

.menuItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.menuItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #4f46e5, #60a5fa);
}

.menuItem > .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 1rem;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
}

.menuItem:hover > .img {
  transform: scale(1.1);
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 1rem;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .all {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .all {
    flex-direction: column;
    padding: 1rem;
  }

  .item1 {
    margin-top: 70px;
  }

  .menuItem {
    width: 100%;
    height: 250px;
    padding: 2rem;
  }

  .menuItem > .img {
    height: clamp(100px, 130px, 200px);
    width: clamp(110px, 100%, 300px);
    margin-bottom: 0.1rem;
  }
}
