.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.safetyTips {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 20px 0;
}

.tipText {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}
.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #0056b3;
}
